@model WebShopInventory.Models.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.ImagePath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory.Title)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Timestamp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Timestamp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.Product.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a class="btn btn-outline-success me-2" asp-action="Index">Back to List</a>
    </form>
</div>
