@model WebShopInventory.Models.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@(Model.Product.Title) Details</h1>

<div>
     <a class="btn btn-outline-success me-2" asp-action="Index">< Back to List</a>  
     <a class="btn btn-outline-success me-2" asp-action="Update" asp-route-id="@Model.Product.Id">Edit</a>  
     <a class="btn btn-outline-success me-2" asp-action="Create" asp-route-id="@Model.Product.Id">Add New</a>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="@("~/uploads/" + Model.Product.ImagePath)" asp-append-version="true" width="100%" />
            </div>
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.Code)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Product.Code)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.Stock)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Product.Stock)
                    </dd>
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Product.Price)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Product.Price)
                    </dd>  
                     <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.ProductCategory.Title)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.ProductCategory.Title)
                    </dd> 
                </dl>                
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-10">
            <strong>@Html.DisplayNameFor(model => model.Product.Description)</strong>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">
            @Html.DisplayFor(model => model.Product.Description)
            </div>
        </div>
    </div>  
</div>
